.graph {
  display: block;
  margin: auto;
  background-color: white;
}

body {
  font: 15px sans-serif;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  opacity: 1;
}

div.tooltip {
  position: absolute;

  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
